@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #ff9999;
    background-size: cover;
    color: #1E3050;
}

.user-profile {
    font-size: 60px;
    color: #1E3050;
}

.profile-name {
    text-align: center;
}

.art-director {
    margin-top: 0px;
}

.caroline {
    margin-bottom: 0px;
}

.borders {
    border-bottom-style: solid;
}

.border1 {
    border-right-style: solid;
}

.briefcase {
    font-size: 50px;
}